variables:
  GRADLE_USER_HOME: build/gradle_cache
  DOCKER_REGISTRY: registry-vpc.cn-hangzhou.aliyuncs.com
  DOCKER_IMAGE: dteam-top/hello-world-k8s

before_script:
  - export APP_VERSION="${CI_COMMIT_TAG:-${CI_COMMIT_SHA::8}}"

cache:
  key: devops_hello-world
  paths:
    - ${GRADLE_USER_HOME}/caches/
    - ${GRADLE_USER_HOME}/wrapper/

stages:
- build
- test
- docker_build
- deploy

build:
  stage: build
  image: openjdk:8-jdk-alpine
  script:
  - ./gradlew -i --no-daemon shadowjar
  artifacts:
    expire_in: 1d
    paths:
    - build/libs/*.jar
  tags:
  - docker

test:
  stage: test
  image: openjdk:8-jdk-alpine
  script:
  - ./gradlew -i --no-daemon test
  tags:
  - docker

docker_build:
  stage: docker_build
  image:
    name: gcr.azk8s.cn/kaniko-project/executor:debug
    entrypoint: [""]
  script:
  - echo "{\"auths\":{\"${DOCKER_REGISTRY}\":{\"username\":\"${DOCKER_REGISTRY_USER}\",\"password\":\"${DOCKER_REGISTRY_PASSWORD}\"}}}" > /kaniko/.docker/config.json
  - /kaniko/executor --context ${CI_PROJECT_DIR} --dockerfile ${CI_PROJECT_DIR}/Dockerfile --destination ${DOCKER_REGISTRY}/${DOCKER_IMAGE}:${APP_VERSION:-latest}
  dependencies:
  - build
  cache: {}
  only:
  - branches@devops/hello-world-k8s
  - tags@devops/hello-world-k8s
  tags:
  - docker

k8s_deploy:
  stage: deploy
  image: lwolf/helm-kubectl-docker:v1.16.2-v2.14.3
  script:
  - '[ -n "${KUBE_CONFIG_CONTENT}" ] && mkdir -p "${HOME}/.kube" && echo "${KUBE_CONFIG_CONTENT}" > "${HOME}/.kube/config"'
  - sed -i "s#__DOCKER_REGISTRY__#${DOCKER_REGISTRY}#g;s#__DOCKER_IMAGE__#${DOCKER_IMAGE}#g;s#__APP_VERSION__#${APP_VERSION:-latest}#g" deploy-*.yml
  - kubectl create secret docker-registry ${DOCKER_REGISTRY}-regcred
       --docker-server=${DOCKER_REGISTRY} --docker-username=${DOCKER_REGISTRY_USER}
       --docker-password=${DOCKER_REGISTRY_PASSWORD} --docker-email=noreply@example.com
       --save-config --dry-run -o yaml | kubectl apply --namespace=${KUBE_NAMESPACE} -f -
  - kubectl apply --namespace=${KUBE_NAMESPACE} -f deploy-${SERVICE}.yml
  - kubectl rollout status --namespace=${KUBE_NAMESPACE} -w --timeout=60s deployment/${SERVICE}-deployment
  variables:
    KUBE_NAMESPACE: default
    SERVICE: hello-world-k8s
  when: manual
  environment:
    name: staging
  only:
  - branches@devops/hello-world-k8s
  - tags@devops/hello-world-k8s
  dependencies: []
  cache: {}
  tags:
  - docker

